*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --bg-dark: #151719;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font1: 80px;
    --font2: 32px;
}

.text-big {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
}

.text-middle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
}

.text-small {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
}

@media (max-width: 1024px) {
    :root {
      --font1: 50px;
      --font2: 28px;
    }
}

html {
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

.section {
    padding: 0 0 75px 0;
}

.dark-section {
    background-color: var(--bg-dark);
}

.container {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 75px;
}

#article {
    display: none;
}

.header {
    padding: 62px 0;
    background-color: var(--bg-dark);
}

.header nav {
    display: block;
    max-width: 720px;
}

.header-nav li {
    display: block;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
}

.header-ul {
    display: flex;
    padding-left: 30px;
}

.header-link{
    padding:30px;
    font-family: sans-serif;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.logo-container {
    float: left;
    width: 199px;
    height: 33px;
}

.logo {
    overflow: hidden;
    text-transform: uppercase;
    background-image: url("./assets/Logo.svg");
    background-repeat:no-repeat; 
}

.container-welcome {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
}

.welcome-info {
    padding-top: 150px;
    white-space: nowrap;
}

.welcome-info h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome-info button {
    width: 360px;
    height: 75px;
    margin-top: 75px;
    background-color: var(--dark-red);
    border-radius: 8px;
}

.welcome-info button a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.welcome-info p {
    padding-top: 25px;
    color: #FFFFFF;
}

.welcome-section img {
    background-position: calc(100% - 20px) calc(100% - 10px);
}

.slider-container {
    overflow: hidden;
    width: 1000px;
    height: 750px;  
}

.slider-items {
    display: flex;
    flex: 0 0 100%;
    position: relative;
    left: 0;
    max-width: 100%;   
    transition: all ease 1s;
}

.slider-button {
    border: none; 
    outline: none;
    background-color: var(--bg-dark);
}

.section-title {
    left: 0px;
    top: 0px;
    font-family: Forum;
    font-style: normal;
    font-weight: 100;
    font-size: var(--font1);
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    white-space: nowrap
}

.title-light {
    color: #FFFFFF;  
}

.title-hover {
    color: var(--font-gold)
}

.title-border {
    position: relative;
}

.title-border::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
}

.card-container {
    display: grid;
    grid-template-columns: 440px  440px  440px;
    grid-template-rows: 440px 75px 440px;
    grid-column-gap: 60px;
    grid-row-gap: 75px;
    justify-content: center;
    max-width: 1440px; 
}

.card { 
    display: block;
    height: 424px;
    padding: 75px 0 0 0;
    text-decoration: none;
}

.card img {
    height: 285px;
}

.card-info h3 {
    padding-top: 25px;
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--bg-dark);
}

.card a {
    text-decoration: none;
}

.info {
    padding-top: 10px;
}

.card-info p {
    padding-top: 10px;
    color: var(--bg-dark);
}

.h3-border {
    position: relative;
}

.h3-border::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
}


.video-slider {
    overflow: hidden;
    width: 1440px;
    height: 254px;    
}

.video-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 42px;
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.video-container p {
    font-size: 21px;
    display: flex;
    align-items: center;
    padding-left: 115px;
    line-height: 38px;
}

.video-item {
    display: inline-block;
}

.explore-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.explore-block {
    padding-right: 60px;
}

.explore-block h2 {
    transform: scale(1, 1.15);
    font-size: 66px;
}

.explore-img {
    float: right;
}
.explore-block p {
    padding-bottom: 25px;
    color: #FFFFFF;
}

.explore-info {
    padding-top: 75px;
}

.section-info {
    padding-top: 75px;
    margin: 10px;
}

.section-info p {
    padding: 10px;
}

.explore-block span {
    color: var(--font-gold);
}

.number {
    all: unset;
    width: 3em;
    text-align: center;
}

.wrapper {
    height: 100vh;
}

.parallax-img {
    height: 100%;
    background-image: url('./assets/parallax.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    float: right;
    position: absolute;
}

.picture-container {
    overflow-y: hidden;
    height: 2125px;
    padding-top: 75px;
}

.picture-inner-container {
    column-count: 3;
    gap: 0 36px;
    height: 2850px;
}

.picture-inner-container img {
    width: 456px;
    padding: 24px 0 0 0;
}

.tickets-block {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 75px;
}

.choose-tickets {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 60px; 
}

.radio-item {
    display: block;
    white-space: nowrap; 
}

.radio-item label {
	cursor: pointer;
	position: relative;
	padding-left: 23px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.radio-item input[type='radio']:after {
    content: '';
    display: inline-block;
    visibility: visible;
    top: -2px;
    left: -1px;
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #fdfffd;
    border-radius: 15px;
    border: 1px solid var(--bg-dark);
}

.radio-item input[type='radio']:checked:after {
    content: '';
    display: inline-block;
    visibility: visible;
    position: relative;
    top: -2px;
    left: -1px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark);
}

.amount {
    max-width: 100%;
    padding-left: 230px;
    white-space: nowrap;
}

.ticket_type form input {
    display: block;
}

.contacts-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 75px;
}

.contacts-info img {
    max-width:100%; 
}

.contacts-info .address ul  {
    display: block;
}

.title-h4 {
    padding-bottom: 50px;
    color: var(--bg-dark);
}

.title-p {
    padding-bottom: 25px;
    color: var(--bg-dark);
}

.button-total {
    padding-left: 485px;
}

.button-total #tickets-buy { 
    width: 175px;
    height: 50px;
    background-color: var(--bg-dark);
}

.button-total #tickets-buy a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}

.title-total {
    padding-top: 50px;
}

.footer {
    background-color: var(--bg-dark);
}

.nav-footer li {
    padding-bottom: 10px;
}

.nav-footer a {
    padding-left: 145px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
}

.nav-footer ul  {
    column-count: 2;
    column-gap: 150px;
    width: 363px;
    height: 128px;
    padding: 0;
    /* list-style: none; */
    white-space: nowrap;
}

.social img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.social ul {
    display: flex;
    padding-left: 510px;
    /* list-style: none; */ 
}

.social ul li {
    padding-left: 25px;
}

.last {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 0 52px 0
}

.last p{
    display: inline-block;
    white-space: nowrap;
    font-weight: 200;
    line-height: 22px;     
}

.last #rsSchool{
    padding: 0 515px 0 457px;
}

.last a {
    color: #fff;
}